<div class="wrapper wrapper-content animated fadeIn">

    <div class="row m-b">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        Editar
                        <small> Usuário</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form ng-submit="vm.edit(form)">
                                <div class="form-group">
                                    <label for="username">Usuário: </label>
                                    <input type="text"
                                           id="username"
                                           class="form-control"
                                           placeholder="nomeusuario"
                                           ng-model="form.username">
                                </div>
                                <div class="form-group">
                                    <label for="name">Nome: </label>
                                    <input type="text"
                                           id="name"
                                           class="form-control"
                                           placeholder="Nome / Sobrenome"
                                           ng-model="form.name">
                                </div>
                                <div class="form-group">
                                    <label for="office">Cargo: </label>
                                    <input type="text"
                                           id="office"
                                           class="form-control"
                                           placeholder="Auxiliar de Cartório"
                                           ng-model="form.office">
                                    <div class="clearfix pull-right m-t">
                                        <button class="btn btn-outline btn-info">
                                            <i class="fa fa-save"></i> Alterar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Senha <small>se você estiver vizualiando é porque possui permissão para alterar senha de usuários.</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form ng-submit="vm.changePassword(form)">
                                <div class="form-group">
                                    <label for="password">Senha: </label>
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           placeholder="•••••••••"
                                           ng-model="form.password">
                                </div>
                                <div class="form-group">
                                    <label for="cpassword">Confirmar Senha: </label>
                                    <input type="password"
                                           id="cpassword"
                                           class="form-control"
                                           placeholder="•••••••••"
                                           ng-model="form.cpassword">
                                </div>
                                <div class="clearfix pull-right m-t">
                                    <button class="btn btn-outline btn-info"
                                            ng-disabled="vm.verifyPassword(form)">
                                        <i class="fa fa-key"></i> Alterar Senha
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>